:root {
  --secondary-color-100: #434c5e;
  --secondary-color-200: #3b4252;
  --link-color: #88c0d0;
  --primary-color-100: #d8dee9;
  --primary-color-800: #e5e9f0;
  --primary-color-900: #eceff4;
  --rounded-corner-radius: 12px;
  --img-rounded-corner-radius: 6px;
  --svg-icon-size: 40px;
  --project-logo-size: 40px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--secondary-color-100);
  color: var(--primary-color-900);
  padding: 0;
  margin: 0;
}

main,
section,
footer,
ul {
  padding: 0;
  margin: 0;
}

#name {
  animation: typing 3s steps(11);
  overflow: hidden;
  white-space: nowrap;
  font-family: consolas;
  border-right: none;
  width: 11ch;
}

@keyframes typing {
  0% {
    width: 0ch;
    border-right: 4px solid black;
  }

  100% {
    width: 11ch;
    border-right: 4px solid black;
  }
}

.link:link {
  color: var(--link-color);
  text-decoration: none;
}

.link:visited {
  color: var(--link-color);
  text-decoration: none;
}

.horizontal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-contents {
  padding-top: 1em;
  width: 100%;
  height: 100%;
}

#profile-picture {
  border-radius: 900px;
  width: 40%;
  height: auto;
}

#about-me {
  width: 70%;
  font-size: 1.25rem;
  text-align: center;
}

#projects {
  width: 100%;
  padding: 1em;
}

.project-card {
  border-radius: var(--rounded-corner-radius);
  background-color: var(--secondary-color-200);
  width: 50%;
  height: 10%;
  padding: 1.25em;
  margin: 1em;
}

.project-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: ease-in;
}

.project-title {
  padding-right: 0.5rem;
}

.styless-li {
  list-style: none;
  width: 100%;
  padding: 1em;
  text-align: center;
}

.project-thumbnail {
  border-radius: var(--img-rounded-corner-radius);
  padding: 0.5em;
  width: 125px;
  height: 125px;
}

.project-logo {
  width: var(--project-logo-size);
  height: var(--project-logo-size);
}

.svg-icon {
  width: var(--svg-icon-size);
  height: var(--svg-icon-size);
  padding-right: 0.5rem;
}

#footer {
  margin-top: 1em;
}

.footer-text {
  margin-right: 0.5em;
  color: var(--primary-color-100);
}
